
params.vep_db = ''
params.revel_db = ''
params.gnomad_db = ''
params.clinvar_db = ''
params.cadd_snv_db = ''
params.cadd_indel_db = ''
params.cadd_sv_db = ''
params.spliceai_snv_db = ''
params.spliceai_indel_db = ''
params.alphamissense_db = ''

singularity {

    enabled = true
    pullTimeout = '1h'
    cacheDir = ''

}

process {

    executor = ''
    project = ''
    storage = ''

    withName: 'scrape_settings' {
        queue = ''
        cpus = '1'
        memory = '4GB'
        time = '20m'
    }

    withName: 'merge_runs' {
        queue = ''
        cpus = '1'
        memory = '4GB'
        time = '6h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'minimap2' {
        queue = ''
        cpus = '16'
        memory = '64GB'
        time = '14h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'minimod' {
        queue = ''
        cpus = '8'
        memory = '32GB'
        disk = '20GB'
        time = '4h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'mosdepth' {
        queue = ''
        cpus = '8'
        memory = '32GB'
        time = '2h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'clair3|clair3_haploid_aware' {
        queue = ''
        cpus = '32'
        memory = '128GB'
        disk = '20GB'
        time = '16h'
        container = 'hkubal/clair3:v1.0.9'
    }

    withName: 'clair3_pre_processing|clair3_post_processing' {
        queue = ''
        cpus = '1'
        memory = '4GB'
        time = '30m'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'clair3_post_processing' {
        queue = ''
        cpus = '1'
        memory = '4GB'
        disk = '10GB'
        time = '30m'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'deepvariant_dry_run' {
        queue = ''
        cpus = '1'
        memory = '4GB'
        time = '20m'
        container = 'google/deepvariant:1.8.0-gpu'
    }

    withName: 'deepvariant_make_examples' {
        queue = ''
        cpus = '104'
        memory = '500GB'
        disk = '10GB'
        time = '2h'
        container = 'google/deepvariant:1.8.0-gpu'
    }

    withName: 'deepvariant_call_variants' {
        queue = ''
        cpus = '12'
        gpus = '1'
        memory = '96GB'
        disk = '10GB'
        time = '2h'
        container = 'google/deepvariant:1.8.0-gpu'
    }

    withName: 'deepvariant_post_processing' {
        queue = ''
        cpus = '14'
        memory = '128GB'
        disk = '10GB'
        time = '1h'
        container = 'google/deepvariant:1.8.0-gpu'
    }

    withName: 'filter_ref_call' {
        queue = ''
        cpus = '1'
        memory = '4GB'
        time = '1h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'split_multiallele|split_multiallele_duo|split_multiallele_trio' {
        queue = ''
        cpus = '1'
        memory = '4GB'
        disk = '10GB'
        time = '1h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'vep_snp_indel|vep_sniffles_sv|vep_cutesv_sv' {
        queue = ''
        cpus = '32'
        memory = '128GB'
        time = '24h'
        container = 'ensemblorg/ensembl-vep:release_112.0'
    }

    withName: 'whatshap_phase|whatshap_haplotag' {
        queue = ''
        cpus = '4'
        memory = '16GB'
        time = '10h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'whatshap_phase_duo|whatshap_phase_trio' {
        queue = ''
        cpus = '4'
        memory = '16GB'
        time = '36h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'deeptrio_dry_run' {
        queue = ''
        cpus = '1'
        memory = '4GB'
        time = '20m'
        container = 'google/deepvariant:deeptrio-1.8.0-gpu'
    }

    withName: 'deeptrio_make_examples' {
        queue = ''
        cpus = '104'
        memory = '500GB'
        disk = '10GB'
        time = '12h'
        container = 'google/deepvariant:deeptrio-1.8.0-gpu'
    }

    withName: 'deeptrio_call_variants' {
        queue = ''
        cpus = '12'
        gpus = '1'
        memory = '96GB'
        disk = '1GB'
        time = '6h'
        container = 'google/deepvariant:deeptrio-1.8.0-gpu'
    }

    withName: 'deeptrio_postprocessing' {
        queue = ''
        cpus = '14'
        memory = '128GB'
        disk = '10GB'
        time = '3h'
        container = 'google/deepvariant:deeptrio-1.8.0-gpu'
    }

    withName: 'somalier_duo|somalier_trio' {
        queue = ''
        cpus = '1'
        memory = '4GB'
        time = '1h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'glnexus_duo|glnexus_trio' {
        queue = ''
        cpus = '1'
        memory = '96GB'
        time = '2h'
        container = 'ghcr.io/dnanexus-rnd/glnexus:v1.4.3'
    }

    withName: 'glnexus_post_processing_duo|glnexus_post_processing_trio' {
        queue = ''
        cpus = '1'
        memory = '4GB'
        time = '30m'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'sniffles' {
        queue = ''
        cpus = '4'
        memory = '16GB'
        time = '1h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'cutesv' {
        queue = ''
        cpus = '8'
        memory = '32GB'
        time = '1h'
        container = 'leahkemp/pipeface:0.0.1'
    }

    withName: 'jasmine_sniffles_duo|jasmine_cutesv_duo|jasmine_sniffles_trio|jasmine_cutesv_trio' {
        queue = ''
        cpus = '8'
        memory = '32GB'
        time = '12h'
        container = 'leahkemp/pipeface:0.0.1'
    }

}

