
params.vep_db = '/g/data/if89/datalib/vep/112/grch38/'
params.revel_db = '/g/data/xy86/revel/1.3/grch38/new_tabbed_revel_grch38.tsv.gz'
params.gnomad_db = '/g/data/xy86/gnomad/genomes/v4.1.0/gnomad.joint.v4.1.sites.chrall.vcf.gz'
params.clinvar_db = '/g/data/xy86/clinvar/2024-08-25/grch38/clinvar_20240825.vcf.gz'
params.cadd_snv_db = '/g/data/xy86/cadd/1.7/grch38/whole_genome_SNVs.tsv.gz'
params.cadd_indel_db = '/g/data/xy86/cadd/1.7/grch38/gnomad.genomes.r4.0.indel.tsv.gz'
params.cadd_sv_db = '/g/data/xy86/cadd_sv/1.1/grch38/1000G_phase3_SVs.tsv.gz'
params.spliceai_snv_db = '/g/data/xy86/spliceai/v1.3/grch38/spliceai_scores.raw.snv.hg38.vcf.gz'
params.spliceai_indel_db = '/g/data/xy86/spliceai/v1.3/grch38/spliceai_scores.raw.indel.hg38.vcf.gz'
params.alphamissense_db = '/g/data/xy86/alphamissense/grch38/AlphaMissense_hg38.tsv.gz'
params.clair3_config = "${projectDir}/config/clair3_glnexus.yml"
params.publish_mode = 'copy'

process {

    executor = 'pbspro'
    project = ''
    storage = 'gdata/if89+gdata/xy86'
    // provide proper access to if89 environmental modules
    beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules'
    maxForks = 250

    withName: 'scrape_settings' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '20m'
    }

    withName: 'glnexus_pre_processing' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '3h'
        module = 'bcftools/1.21:htslib/1.20'
    }

    withName: 'glnexus' {
        queue = 'normal'
        cpus = '43'
        memory = '190GB'
        time = '12h'
        module = 'glnexus/1.4.3'
    }

    withName: 'glnexus_post_processing' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '3h'
        module = 'bcftools/1.21:htslib/1.20'
    }

    withName: 'split_multiallele' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        disk = '10GB'
        time = '3h'
        module = 'bcftools/1.21:htslib/1.20'
    }

    withName: 'split_vcf' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '3h'
        module = 'bcftools/1.21:htslib/1.20'
    }

    withName: 'whatshap_phase' {
        queue = 'normal'
        cpus = '4'
        memory = '16GB'
        time = '10h'
        module = 'whatshap/2.3:htslib/1.20'
    }

    withName: 'merge_vcf' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '30m'
        module = 'bcftools/1.21:htslib/1.20'
    }

    withName: 'split_sv_vcfs' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '3h'
        module = 'bedtools/2.31.0:bcftools/1.21:htslib/1.20:python3/3.12.1'
    }

    withName: 'jasmine' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '48h'
        module = 'jasminesv/1.1.5-r1:bcftools/1.21:htslib/1.20'
    }

    withName: 'somalier' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '1h'
        module = 'somalier/0.2.19'
    }

    withName: 'longtr_pre_processing' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '1h'
    }

    withName: 'longtr' {
        queue = 'normal'
        cpus = '1'
        memory = '32GB'
        time = '24h'
        module = 'LongTR/v1.2:htslib/1.20'
    }

    withName: 'concat_sv_vcf|concat_tr_vcf' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        disk = '10GB'
        time = '1h'
        module = 'bcftools/1.21:htslib/1.20'
    }

    withName: 'vep_snp_indel|vep_sv' {
        queue = 'normal'
        cpus = '32'
        memory = '128GB'
        time = '24h'
        module = 'singularity:htslib/1.20:ensemblorg/ensembl-vep/release_112.0'
    }

}

