
params.vep_db = ''
params.revel_db = ''
params.gnomad_db = ''
params.clinvar_db = ''
params.cadd_snv_db = ''
params.cadd_indel_db = ''
params.cadd_sv_db = ''
params.spliceai_snv_db = ''
params.spliceai_indel_db = ''
params.alphamissense_db = ''
params.clair3_config = "${projectDir}/config/clair3_glnexus.yml"
params.publish_mode = 'copy'

executor {
    queueSize = 150
    submitRateLimit = '20/1min'
}

singularity {

    enabled = true
    pullTimeout = '1h'
    cacheDir = ''

}

process {

    executor = ''
    project = ''
    storage = ''
    queue = ''

    withName: 'scrape_settings' {
        cpus = '1'
        memory = '4GB'
        time = '20m'
    }

    withName: 'glnexus_pre_processing' {
        cpus = '1'
        memory = '4GB'
        time = '3h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'glnexus' {
        cpus = '43'
        memory = '190GB'
        time = '48h'
        container = 'ghcr.io/dnanexus-rnd/glnexus:v1.4.3'
    }

    withName: 'glnexus_post_processing' {
        cpus = '1'
        memory = '4GB'
        time = '12h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'split_multiallele' {
        cpus = '1'
        memory = '4GB'
        disk = '120GB'
        time = '12h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'split_vcf' {
        cpus = '1'
        memory = '4GB'
        time = '48h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'whatshap_phase' {
        cpus = '4'
        memory = '16GB'
        time = '48h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'merge_vcf' {
        cpus = '1'
        memory = '16GB'
        time = '48h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'split_sv_vcfs' {
        cpus = '1'
        memory = '4GB'
        time = '48h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'jasmine' {
        cpus = '4'
        memory = '64GB'
        disk = '16GB'
        time = '48h'
        container = 'leahkemp/pipeface:0.0.5'
        scratch = true
    }

    withName: 'somalier' {
        cpus = '1'
        memory = '4GB'
        time = '1h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'longtr_pre_processing' {
        cpus = '1'
        memory = '4GB'
        time = '1h'
    }

    withName: 'longtr' {
        cpus = '1'
        memory = '32GB'
        time = '48h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'concat_sv_vcf|concat_tr_vcf' {
        cpus = '1'
        memory = '4GB'
        disk = '10GB'
        time = '1h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'list_chromosomes' {
        cpus = '1'
        memory = '4GB'
        time = '30m'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'vep_snp_indel' {
        cpus = '8'
        memory = '32GB'
        time = '24h'
        container = 'ensemblorg/ensembl-vep:release_112.0'
    }

    withName: 'concat_snp_indel_vcf' {
        cpus = '4'
        memory = '16GB'
        time = '12h'
        container = 'leahkemp/pipeface:0.0.5'
    }

    withName: 'vep_sv' {
        cpus = '32'
        memory = '128GB'
        time = '48h'
        container = 'ensemblorg/ensembl-vep:release_112.0'
    }

}

