// nci gadi: the generic nextflow_pipeface.config plus gadi specific settings

includeConfig 'nextflow_pipeface.config'

params.vep_db = '/g/data/if89/datalib/vep/112/grch38/'
params.revel_db = '/g/data/xy86/revel/1.3/grch38/new_tabbed_revel_grch38.tsv.gz'
params.gnomad_db = '/g/data/xy86/gnomad/genomes/v4.1.0/gnomad.joint.v4.1.sites.chrall.vcf.gz'
params.clinvar_db = '/g/data/xy86/clinvar/2024-08-25/grch38/clinvar_20240825.vcf.gz'
params.cadd_snv_db = '/g/data/xy86/cadd/1.7/grch38/whole_genome_SNVs.tsv.gz'
params.cadd_indel_db = '/g/data/xy86/cadd/1.7/grch38/gnomad.genomes.r4.0.indel.tsv.gz'
params.cadd_sv_db = '/g/data/xy86/cadd_sv/1.1/grch38/1000G_phase3_SVs.tsv.gz'
params.spliceai_snv_db = '/g/data/xy86/spliceai/v1.3/grch38/spliceai_scores.raw.snv.hg38.vcf.gz'
params.spliceai_indel_db = '/g/data/xy86/spliceai/v1.3/grch38/spliceai_scores.raw.indel.hg38.vcf.gz'
params.alphamissense_db = '/g/data/xy86/alphamissense/grch38/AlphaMissense_hg38.tsv.gz'

singularity {

    cacheDir = ''

}

process {

    executor = 'pbspro'
    project = ''
    storage = 'gdata/if89+gdata/xy86'
    module = 'singularity'
    queue = 'normal'

    withName: 'deepvariant_make_examples|deeptrio_make_examples' {
        queue = 'normalsr'
    }

    withName: 'deepvariant_call_variants|deeptrio_call_variants' {
        queue = 'gpuhopper'
    }

    withName: 'deepvariant_post_processing|deeptrio_postprocessing' {
        queue = 'normalbw'
    }

}
