
params.vep_db = '/g/data/if89/datalib/vep/112/grch38/'
params.revel_db = '/g/data/xy86/revel/1.3/grch38/new_tabbed_revel_grch38.tsv.gz'
params.gnomad_db = '/g/data/xy86/gnomad/genomes/v4.1.0/gnomad.joint.v4.1.sites.chrall.vcf.gz'
params.clinvar_db = '/g/data/xy86/clinvar/2024-08-25/grch38/clinvar_20240825.vcf.gz'
params.cadd_snv_db = '/g/data/xy86/cadd/1.7/grch38/whole_genome_SNVs.tsv.gz'
params.cadd_indel_db = '/g/data/xy86/cadd/1.7/grch38/gnomad.genomes.r4.0.indel.tsv.gz'
params.cadd_sv_db = '/g/data/xy86/cadd_sv/1.1/grch38/1000G_phase3_SVs.tsv.gz'
params.spliceai_snv_db = '/g/data/xy86/spliceai/v1.3/grch38/spliceai_scores.raw.snv.hg38.vcf.gz'
params.spliceai_indel_db = '/g/data/xy86/spliceai/v1.3/grch38/spliceai_scores.raw.indel.hg38.vcf.gz'
params.alphamissense_db = '/g/data/xy86/alphamissense/grch38/AlphaMissense_hg38.tsv.gz'

process {

    executor = 'pbspro'
    project = 'kr68'
    storage = 'gdata/if89+gdata/xy86+scratch/kr68+gdata/kr68+gdata/ox63'
    // provide proper access to if89 environmental modules
    beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules'

    withName: 'scrape_settings' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '20m'
    }

    withName: 'merge_runs' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '6h'
        module = 'samtools/1.21:htslib/1.20'
    }

    withName: 'minimap2' {
        queue = 'normal'
        cpus = '16'
        memory = '64GB'
        time = '14h'
        module = 'minimap2/2.28:samtools/1.21'
    }

    withName: 'minimod' {
        queue = 'normal'
        cpus = '8'
        memory = '32GB'
        disk = '20GB'
        time = '4h'
        module = 'minimod/0.3.0:kentutils/0.0'
    }

    withName: 'mosdepth' {
        queue = 'normal'
        cpus = '8'
        memory = '32GB'
        time = '2h'
        module = 'mosdepth/0.3.9'
    }

    withName: 'clair3' {
        queue = 'normal'
        cpus = '32'
        memory = '128GB'
        disk = '20GB'
        time = '16h'
        module = 'bedtools/2.31.0:bcftools/1.21:htslib/1.20:clair3/v1.0.9'
        beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules && BCFTOOLS_PLUGINS=/apps/bcftools/1.12/libexec/bcftools'
    }

    withName: 'deepvariant_dry_run' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '20m'
        module = 'deepvariant-gpu/1.8.0'
    }

    withName: 'deepvariant_make_examples' {
        queue = 'normalsr'
        cpus = '104'
        memory = '500GB'
        disk = '10GB'
        time = '2h'
        module = 'parallel:deepvariant-gpu/1.8.0'
    }

    withName: 'deepvariant_call_variants' {
        queue = 'gpuvolta'
        cpus = '12'
        gpus = '1'
        memory = '96GB'
        disk = '10GB'
        time = '2h'
        module = 'deepvariant-gpu/1.8.0'
    }

    withName: 'deepvariant_post_processing' {
        queue = 'normalbw'
        cpus = '14'
        memory = '128GB'
        disk = '10GB'
        time = '1h'
        module = 'deepvariant-gpu/1.8.0:bcftools/1.21:htslib/1.20'
    }

    withName: 'split_multiallele|split_multiallele_duo|split_multiallele_trio' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        disk = '10GB'
        time = '1h'
        module = 'bcftools/1.21:htslib/1.20'
    }

    withName: 'vep_snp_indel|vep_sniffles_sv|vep_cutesv_sv' {
        queue = 'normal'
        cpus = '32'
        memory = '128GB'
        time = '24h'
        module = 'singularity:htslib/1.20:ensemblorg/ensembl-vep/release_112.0'
    }

    withName: 'whatshap_phase|whatshap_haplotag' {
        queue = 'normal'
        cpus = '4'
        memory = '16GB'
        time = '10h'
        module = 'whatshap/2.3:htslib/1.20:samtools/1.21'
    }

    withName: 'whatshap_phase_duo|whatshap_phase_trio' {
        queue = 'normal'
        cpus = '4'
        memory = '16GB'
        time = '36h'
        module = 'whatshap/2.3:htslib/1.20:samtools/1.21'
    }

    withName: 'deeptrio_dry_run' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '20m'
        module = 'deeptrio-gpu/1.8.0'
    }

    withName: 'deeptrio_make_examples' {
        queue = 'normalsr'
        cpus = '104'
        memory = '500GB'
        disk = '10GB'
        time = '12h'
        module = 'parallel:deeptrio-gpu/1.8.0'
    }

    withName: 'deeptrio_call_variants' {
        queue = 'gpuvolta'
        cpus = '12'
        gpus = '1'
        memory = '96GB'
        disk = '1GB'
        time = '6h'
        module = 'deeptrio-gpu/1.8.0'
    }

    withName: 'deeptrio_postprocessing' {
        queue = 'normalbw'
        cpus = '14'
        memory = '128GB'
        disk = '10GB'
        time = '3h'
        module = 'deeptrio-gpu/1.8.0'
    }

    withName: 'somalier_duo|somalier_trio' {
        queue = 'normal'
        cpus = '1'
        memory = '4GB'
        time = '1h'
        module = 'somalier/0.2.19'
    }

    withName: 'glnexus_duo|glnexus_trio' {
        queue = 'normal'
        cpus = '1'
        memory = '96GB'
        time = '2h'
        module = 'glnexus/1.4.3:bcftools/1.21:htslib/1.20'
    }

    withName: 'sniffles' {
        queue = 'normal'
        cpus = '4'
        memory = '16GB'
        time = '1h'
        module = 'sniffles/2.6'
    }

    withName: 'cutesv' {
        queue = 'normal'
        cpus = '8'
        memory = '32GB'
        time = '1h'
        module = 'cuteSV/v2.1.1:htslib/1.20'
    }

    withName: 'jasmine_sniffles_duo|jasmine_cutesv_duo|jasmine_sniffles_trio|jasmine_cutesv_trio' {
        queue = 'normal'
        cpus = '8'
        memory = '32GB'
        time = '12h'
        module = 'jasminesv/1.1.5-r1:bcftools/1.21:htslib/1.20'
    }

}

