
process {

    executor = 'pbspro'
    project = 'kr68'
    storage = 'gdata/if89+scratch/kr68+gdata/kr68+gdata/ox63'
    // provide proper access to if89 environmental modules
    beforeScript = 'module use -a /g/data/if89/apps/modulefiles'

    withName: scrape_settings {
        queue = 'normal'
        cpus = '1'
        time = '20m'
        memory = '4GB'
    }

    withName: scrape_bam_header {
        queue = 'normal'
        cpus = '1'
        time = '20m'
        memory = '4GB'
        module = 'samtools/1.19'
    }

    withName: merge_runs {
        queue = 'normal'
        cpus = '1'
        time = '6h'
        memory = '4GB'
        module = 'samtools/1.19:htslib/1.16'
    }

    withName: minimap2 {
        queue = 'normal'
        cpus = '16'
        time = '10h'
        memory = '64GB'
        module = 'minimap2/2.28:samtools/1.19'
    }

    withName: depth {
        queue = 'normal'
        cpus = '8'
        time = '4h'
        memory = '32GB'
        module = 'samtools/1.19'
    }

    withName: clair3 {
        queue = 'normal'
        cpus = '32'
        time = '6h'
        memory = '128GB'
        module = 'clair3/v1.0.9:htslib/1.16'
    }

    withName: deepvariant {
        queue = 'gpuvolta'
        cpus = '24'
        gpus = '2'
        time = '6h'
        memory = '180GB'
        module = 'parabricks/4.2.1:htslib/1.16'
    }

    withName: 'whatshap_phase_clair3|whatshap_phase_dv|whatshap_haplotag' {
        queue = 'normal'
        cpus = '4'
        time = '10h'
        memory = '16GB'
        module = 'whatshap/2.3:htslib/1.16:samtools/1.19'
    }

    withName: sniffles {
        queue = 'normal'
        cpus = '4'
        time = '1h'
        memory = '16GB'
        module = 'sniffles/2.3.3'
    }

    withName: cutesv {
        queue = 'normal'
        cpus = '8'
        time = '1h'
        memory = '32GB'
        module = 'cuteSV/1.0.13:htslib/1.16'
    }

    withName: 'publish_settings|publish_bam_header|publish_minimap2|publish_clair3|publish_deepvariant|publish_whatshap_phase_clair3|publish_whatshap_phase_dv|publish_whatshap_haplotag|publish_sniffles|publish_cutesv' {
        queue = 'normal'
        cpus = '1'
        time = '20m'
        memory = '4GB'
    }

}
