
process {

    executor = 'pbspro'
    project = 'kr68'
    storage = 'gdata/if89+scratch/kr68+gdata/kr68'
    // provide proper access to if89 environmental modules
    beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules'

    withName: scrape_settings {
        queue = 'express'
        cpus = 1
        time = '5m'
    }

    withName: publish_settings {
        queue = 'express'
        cpus = 1
        time = '5m'
    }

    withName: scrape_bam_header {
        queue = 'express'
        cpus = 1
        time = '5m'
        module = 'samtools/1.19'
    }

    withName: publish_bam_header {
        queue = 'express'
        cpus = 1
        time = '5m'
        module = 'samtools/1.19'
    }

    withName: merge_runs {
        queue = 'normal'
        cpus = 1
        time = '5m'
        memory = '1GB'
        module = 'samtools/1.19:htslib/1.16'
    }

    withName: bam_to_fastq {
        queue = 'normal'
        cpus = 1
        time = '5m'
        memory = '1GB'
        module = 'samtools/1.19'
    }

    withName: minimap2 {
        queue = 'normal'
        cpus = 8
        time = '5m'
        memory = '16GB'
        module = 'minimap2/2.24:samtools/1.19'
    }

    withName: publish_minimap2 {
        queue = 'express'
        cpus = 1
        time = '5m'
    }

    withName: clair3 {
        queue = 'normal'
        cpus = '12'
        time = '2h'
        memory = '8GB'
        module = 'singularity:quay.io/biocontainers/clair3:htslib/1.16'
    }

    withName: publish_clair3 {
        queue = 'express'
        cpus = 1
        time = '5m'
    }

    withName: deepvariant {
        queue = 'gpuvolta'
        cpus = '12'
        gpus = '1'
        time = '5m'
        memory = '8GB'
        module = 'parabricks/4.2.1:htslib/1.16'
    }

    withName: publish_deepvariant {
        queue = 'express'
        cpus = 1
        time = '5m'
    }

    withName: whatshap {
        queue = 'normal'
        cpus = '4'
        time = '5m'
        memory = '1GB'
        module = 'whatshap/1.7:samtools/1.19'
    }

    withName: publish_whatshap {
        queue = 'express'
        cpus = 1
        time = '5m'
    }

    withName: sniffles {
        queue = 'normal'
        cpus = 16
        time = '5m'
        memory = '1GB'
        module = 'sniffles/2.0.2'
    }

    withName: publish_sniffles {
        queue = 'express'
        cpus = 1
        time = '5m'
    }

    withName: cutesv {
        queue = 'normal'
        cpus = 8
        time = '5m'
        memory = '16GB'
        module = 'cuteSV/1.0.13:htslib/1.16'
    }

    withName: publish_cutesv {
        queue = 'express'
        cpus = 1
        time = '5m'
    }

}

